<template name="leaflet">
	<div class="container home-container">
		<div>
			{{> backtohome activityclass="btn-leaflet"}}
			<br>
			<fieldset>
				<legend><i class="fa fa-leaf fa-2x leaflet-icon"></i> Leaflet </legend>
				{{#autoForm collection="Leaflets" id="insertLeaflet" type="method" meteormethod="submitLeaflet"}}
				{{> afQuickField name="typeofLeaflets"}}
				{{> afQuickField name="numberOfLeaflets"}}
				{{> afQuickField name="location"}}
					<div class="text-center">
						<button type="submit" class="btn btn-leaflet">Submit</button>
						<button type="reset" class="btn btn-default">Reset</button>
					</div>
				{{/autoForm}}	
			</fieldset>
			<hr>
			<br>
			<br>
		</div>
	</div>
	{{> footer}}
</template>