<template name="forcesignin">
	<div class="container home-container text-center">
		<div class="row">
			<h3 class="center-block">Welcome to Breather!!</h3>
			<p>Please Signin to continue</p>	
			<br>
			<form class="login-form center-block">
				  <div class="form-group">
				    <label for="emailid">Email</label>
				    <input type="text" class="form-control" id="emailid" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" class="form-control" id="password" placeholder="Password">
				  </div>
				  <button class="btn btn-primary signin" type="submit">SignIn</button>
			 </form>	
		</div>
	</div>
	{{> footer}}
</template>